body {
    margin: 0%;

}

video {
    position: fixed;
}

div {
    position: absolute;
    top: 15%;
    left: 40%;
    border: 1px solid white;
    width: 400px;
    padding-left: 40px;
    border-radius: 4px;
}

input {
    width: 300px;
    border: none;
    background-color: whitesmoke;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

input:focus {
    background-color: rgb(70, 130, 180, 0.35);
    color: white;
    outline: none;
}

button {
    background-color: rgb(222, 140, 222);
    border: none;
    height: 30px;
    font-size: 18px;
    border-radius: 4px;
    width: 80px;
    margin: 20px;
}